/* navigation bar */
.nav_bar{
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    background-color: #1C2d35;
    text-align: center;
}

.link{
    list-style: none;
    display: flex;
    margin: 0px 100px;

}
.a{
    text-decoration: none;
    color: yellow;
    font-size: 100px;
}
.a :hover{
    color: orange;
}
/* navigation bar */

/* cover */
.header {
    pad: 20px;
    height: 100px;
    background-color: #867ae0;
    text-align: center;
}
/* cover */

/* content */
.left{
    width: 30%;
    float: left;
}
.right{
    width: 30%;
    float: right;
}
.mid{
    margin: 0px 3%;
    height: auto;
}


.footer{
    margin: 100px;
}