/* main content */
    /* default */
    .weighted{
        font-weight: 700;
    }
    .emphasize{
        color: var(--color-secondary);
        font-weight: 600;
    }
    .small{
        font-size: 1.2rem;
        /* transform: scale(2.0); */
    }

    .small:hover{
        transform: scale(2.0);
        color:red;
    }
    
    /* default */
.main-content{
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 15px 30px;
}
.main-content div,h2{
    padding: 15px ;
}
.main-content .section-divider,.main-content .inner-divider{
    padding: 0px;
}
hr{
    color: grey;
    margin: auto;
}
.main-content h2{
    color: #43787A;
    font-size: 40px;
}
.italic{
    font-style: italic;
    font-size: 10px;
}
.main-content h3{
    color: black;
}

/* main content */