/* map */
    /* reset-property  */
    div .map{
        padding: 0px;
    }
    /* reset-property  */
    .map{
        display: flex;
        flex-direction: row;
    }
    @media (min-width:700px) {
        .google-map iframe{
        width: calc(50vw);
        height: calc(50vh);
    }
    }
    @media (max-width:600px) {
        .map{
            display: flex;
            flex-direction: column;
        }
        .map .text{
            flex: 1;
            font-size: calc(2rem+2vw);
        }
        .google-map {
            position: relative;
            flex: 5;
            /* transform: scale(0.8); */
        }
        .google-map iframe{
            width: calc(82vw);
            height: calc(36vh);
        }
    }

    .google-map {
        position: relative;
        flex: 5;
        overflow: auto;
    }
    .location {
        flex: 3;
        font-size: 1.5rem;
    }

    /* .map h3,h4,b{
        padding: 10px 10px;
    } */
/* map */