/* map */
    /* emphasize */
    .emphasize{
        color: var(--color-secondary);
    }
    /* .sectionTwo{
        width: 100vw;
    } */
    /* emphasize */
    .map{
        display: flex;
        flex-direction: row;
    }
    @media (max-width:600px) {
        .map{
            display: flex;
            flex-direction: column;
        }
        .map .text{
            flex: 1;
            font-size: calc(2rem+2vw);
        }
        .google-map {
            position: relative;
            flex: 5;
            /* transform: scale(0.8); */
        }
        .google-map iframe{
            width: calc(84vw);
            height: calc(44vh);
        }
    }
    @media (max-width:10000px) {
        .google-map iframe{
        width: calc(40vw);
        height: calc(100vh);
    }
    }
    
    .google-map {
        position: relative;
        flex: 5;
        overflow: auto;
    }
    .map .text{
        flex: 3;
        font-size: 1.5rem;
    }
    .map .text h3{
        color: black;
        font-size: 3rem;
        margin-top: 0;
    }

    .map h3,h4,b{
        padding: 10px 10px;
    }
/* map */